In [31]:
import pandas as pd

In [32]:
df = pd.read_csv(r'/Users/abhishekb/Documents/ML/Project_Mood_Prediction/Project-Mood-Prediction/DataSet/spotify_merged_dataset.csv')
df.head()

,Unnamed: 0,session_id,session_length,skip_2,track_id,acousticness,danceability,loudness,speechiness,liveness
0,0,1_00001238-3f7a-4fd2-b52e-af4237a41ed9,20,True,t_91eb6576-0f1f-4394-92d8-560d7b8f632b,0.085350,0.790459,-4.66,0.052383,0.112247
1,1,1_00001238-3f7a-4fd2-b52e-af4237a41ed9,20,True,-999,-999.000000,-999.000000,-999.00,-999.000000,-999.000000
2,2,1_00001238-3f7a-4fd2-b52e-af4237a41ed9,20,True,t_98e73634-8f33-4275-b544-3451553f431e,0.133331,0.607389,-9.09,0.358223,0.122876
3,3,1_00001238-3f7a-4fd2-b52e-af4237a41ed9,20,False,-999,-999.000000,-999.000000,-999.00,-999.000000,-999.000000
4,4,1_00001238-3f7a-4fd2-b52e-af4237a41ed9,20,False,-999,-999.000000,-999.000000,-999.00,-999.000000,-999.000000

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      50000 non-null  int64
 1   session_id      50000 non-null  object
 2   session_length  50000 non-null  int64
 3   skip_2          50000 non-null  bool
 4   track_id        50000 non-null  object
 5   acousticness    50000 non-null  float64
 6   danceability    50000 non-null  float64
 7   loudness        50000 non-null  float64
 8   speechiness     50000 non-null  float64
 9   liveness        50000 non-null  float64
dtypes: bool(1), float64(5), int64(2), object(2)
memory usage: 3.5+ MB