<a href="https://colab.research.google.com/github/AFA21SCM21BO/Project-Mood-Prediction/blob/main/Code/RNN/rnn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [2]:
df = pd.read_csv(r'spotify_merged_dataset.csv')
df.head()

   Unnamed: 0                              session_id  ...  speechiness    liveness
0           0  1_00001238-3f7a-4fd2-b52e-af4237a41ed9  ...     0.052383    0.112247
1           1  1_00001238-3f7a-4fd2-b52e-af4237a41ed9  ...  -999.000000 -999.000000
2           2  1_00001238-3f7a-4fd2-b52e-af4237a41ed9  ...     0.358223    0.122876
3           3  1_00001238-3f7a-4fd2-b52e-af4237a41ed9  ...  -999.000000 -999.000000
4           4  1_00001238-3f7a-4fd2-b52e-af4237a41ed9  ...  -999.000000 -999.000000

[5 rows x 10 columns]

In [4]:
def importDataSet():
  
  # importing the merged dataset from spotify
  spotifyData = pd.read_csv("spotify_merged_dataset.csv")
  tempDf = spotifyData

  # converting boolean output column to int 
  tempDf["skip_2"] = tempDf["skip_2"]*1
  
  y = tempDf["skip_2"].to_numpy()
  # print(tempDf.info())
  # Dropping output column and serial number column
  tempDf = tempDf.drop(tempDf.columns[[0, 1,3,4]], axis=1)
  # print(tempDf.info())

  x = tempDf.to_numpy()
  print(y)
  return spotifyData,x,y

In [5]:
# Test train Split
from tensorflow.keras.utils import to_categorical
spotifyData,X,Y = importDataSet()
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)
y_train = to_categorical(y_train, 2)
y_test = to_categorical(y_test, 2)
X_train,X_test = X_train / 255.0, X_test / 255.0

[1 1 1 ... 0 0 1]

In [6]:
X_train

array([[ 7.84313725e-02, -3.91764706e+00, -3.91764706e+00,
        -3.91764706e+00, -3.91764706e+00, -3.91764706e+00],
       [ 7.84313725e-02,  1.52920230e-04,  2.01464471e-03,
        -2.25725492e-02,  1.42871413e-04,  1.02767068e-03],
       [ 3.92156863e-02, -3.91764706e+00, -3.91764706e+00,
        -3.91764706e+00, -3.91764706e+00, -3.91764706e+00],
       ...,
       [ 7.84313725e-02,  1.93474141e-03,  3.10417367e-03,
        -1.61764706e-02,  8.81899104e-04,  3.33089338e-04],
       [ 7.84313725e-02, -3.91764706e+00, -3.91764706e+00,
        -3.91764706e+00, -3.91764706e+00, -3.91764706e+00],
       [ 7.84313725e-02,  4.31883773e-04,  2.63320395e-03,
        -3.17294102e-02,  9.57136002e-04,  3.23699707e-04]])